parameters:
    level: 5
    paths:
        - data
        - classes
        - code
        - crons
        - funcs
        - lang
        - templates
        - pages
        - public
        - config.php
    scanFiles:
        - funcs/i18n.php
        - funcs/auth.php
        - funcs/mail.php
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
